# .NET
bin/
obj/
*.user
*.userosscache
*.suo
*.cache
*.log

# Visual Studio
.vs/
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
