@inject JeopardyGameService GameService

@foreach (var category in GameService.Categories)
{
    <h3>@category.Name</h3>
    <ul>
        @foreach (var question in category.Questions)
        {
            <li>@question.Question</li>
        }
    </ul>
}
